.left {
    width: 90px;
    height: 100vh;
    background-color: #9AC2EF;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;

}

.left p{
    color: rgb(255, 255, 255);
    margin-top: -3rem;
    font-size: medium;
}

.button{
    border-radius: .3rem;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 6vh;
    width: 60%;
    min-width: 43px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}

.button svg, .button i{
    display: block;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.fas fa-moon text-3xl{
    color: aquamarine;
    width: 3rem;
}

.icon-light {
    color: white;
}

.icon-dark {
    color: black;
}

:global(.dark-mode) .left{
    background-color: #232323;
}

:global(.dark-mode) .left p{
    color: #FAB180;
}

@media screen and (max-width: 768px) {
    .left{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        min-height: 10vh;
        padding-top: 0px;
        border: 0px;
    }

    .left p{
        display: none;
    }

    .button{
        margin-top: 0px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        height: 6vh;
        width: 4vw;
        min-width: 2.7rem;
    }
}
